
body {
  background: #87D37C;
  width: auto;
  color: #323232;
}

a {
  color:#F89406;
}
.banner{
  margin: 0px 0 0 0;
  position: fixed;
  width: 100%;
  height: 130px;
  margin: ;
  left: 0;
  right: 0;
}
.navbar {
  background-color: #F89406;
  margin: -180px 0 0 -30px;
  width: auto;
  border: 0;
  font-size: 24px;
}
.dropdown-menu>li>a {
  background-color: #F9BF3B;
  color:#F89406;
  border: 0;
  color:grey;
}

.row{
  margin:-180px 0 0 0;
  background-color: #F9BF3B; 
  height: 160px;
}
.container-fluid {
  position: fixed;
  width: 100%;
  height: 160px;
  margin: ;
  left: 0;
  right: 0;
}
.col-lg-2 {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.row .col-lg-8{
  margin: 70px 0 0 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  line-height: 30px;
}
.row .col-lg-8 .color{
  margin:-20px 0 0 0;
  text-align: center;
  color: #F89406;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
}
.row .col-lg-8 .top{
  margin:-20px 0 0 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
}

.resume {
  position: scroll;
  margin-top: 18rem;
  font-family: 'Raleway', sans-serif;
}

.shadow2 {
  background-color: #F9BF3B;
  margin: .5em 2em 1em 2.5em;
  border-radius: 33px;
  text-align:justify;
  font-size: 24px;
  word-spacing: 20px; 
}
.shadow2 .glass {
  background-color: #F89406;
  border-radius: 25px 25px 0 0;
}

.faker {
  background-color: #F9BF3B;
  margin: .5em 27% .5em 27%;
  border-radius: 33px;
  text-align:center;
  font-size: 48px;
  word-spacing: 60px; 
}

.resume ul {
  text-align:left;
  font-size: 24px;
}
.resume li {
  text-align:left;
  font-size: 18px;
  text-shadow: none;
  word-spacing: 0px;
}
