
body {
  background: #EB9532;
  width: auto;
  color: #323232;
}

a {
  color:#9B59B6;
}
.container {
  position: fixed;
  opacity: .7;
  width: 100%;
  height: 160px;
  background-color: #EB9532;
  margin: 0 auto;
  left: 0;
  right: 0;
}
h1 {
  margin:-20px 0 0 0;
  opacity: 1;
  text-align: center;
  padding: .5em 0 .5em 0;
  font-family: 'Raleway', sans-serif;
  font-size: 62px;

}
.nothing{
    padding: 5px 5px 5px 5px;
}

h1 .top {
  font-size: 2.8rem;
  align-content: center;
}
h1 .color {
  color: #6C7A89;
  font-family: 'Raleway', sans-serif;
  font-size: 2.8rem;
}
h1 .shadow {
  font-size: 4.5rem;
  font-family: 'Raleway';
  line-height: 40px;
}

.resume {
  position: scroll;
  margin-top: 18rem;
  font-family: 'Raleway', sans-serif;
}

.shadow2 {
  background-color: #68C3A3;
  margin: .5em 2em 1em 2.5em;
  border-radius: 33px;
  text-align:justify;
  font-size: 24px;
  word-spacing: 20px; 
}
.shadow2 .glass {
  background-color: #049372;
  border-radius: 25px 25px 0 0;
}

.faker {
  background-color: #68C3A3;
  margin: .5em 27% .5em 27%;
  border-radius: 33px;
  text-align:center;
  font-size: 48px;
  word-spacing: 60px; 
}

.resume ul {
  text-align:left;
  font-size: 24px;
}
.resume li {
  text-align:left;
  font-size: 18px;
  text-shadow: none;
  word-spacing: 0px;
}

